* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.home-nav {
  height: fit-content;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  @media screen and (max-width: 1000px) {
    top: 0px;
    position: sticky;
    z-index: 101;
  }
  .offers {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, #e65c00 0%, #f9d423 100%);
    height: 44px;
    p {
      font-weight: 500;
      font-size: 16px;
      color: #000;
      @media screen and (max-width: 500px) {
        font-size: 14px;
      }
      span {
        color: #fff;
      }
    }
  }
  .main {
    padding: 0px 50px 0px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 92px;
    box-shadow: 0px 2px 5px rgba(49, 69, 44, 0.2);
    background-color: #fff;
    @media screen and (max-width: 500px) {
      padding: 0px 25px 0px 25px;
    }
    .ham {
      display: none;
      @media screen and (max-width: 1000px) {
        display: block;
      }
    }
    .logo-name {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
      text-decoration: none;
      .p {
        font-weight: 700;
        font-size: 16px;
        letter-spacing: 3px;
        color: #0f0a0a;
        @media screen and (max-width: 1000px) {
          display: none;
        }
      }
    }
    .search-input {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
      width: 250px;
      padding-inline-start: 10px;
      height: 35px;
      background-color: #fff;
      border: 1px gray solid;
      border-radius: 5px;
      input {
        border: none;
        outline: none;
        padding: 0px 10px 0px 0px;
        width: 100%;
        color: #64748b;
      }
      @media screen and (max-width: 1000px) {
        display: none;
      }
    }
    .categories {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
      span {
        font-weight: 400;
        font-size: 16px;
        color: #64748b;
      }
      @media screen and (max-width: 1000px) {
        display: none;
      }
    }
    .shop {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      p {
        margin-left: -10px;
        height: 20px;
        width: 20px;
        border-radius: 50%;
        background-color: #af5e41;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 12px;
        margin-top: -5px;
      }
      @media screen and (max-width: 1000px) {
        display: none;
      }
    }
    .language {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 13px;
      margin-right: 20px;
      span {
        font-weight: 400;
        font-size: 16px;
        color: #191d23;
      }
      @media screen and (max-width: 1000px) {
        display: none;
      }
    }
    .auths {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 30px;
      .login-btn {
        font-size: 16px;
        font-weight: 500;
        padding-bottom: 0px;
        margin-bottom: 0px;
        text-decoration: none;
        color: #0f0a0a;
      }
      .create-btn {
        display: flex;
        width: 187px;
        height: 45px;
        text-decoration: none;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        border: 1.5px solid #af5e41;
        color: #af5e41;
      }
      @media screen and (max-width: 1000px) {
        display: none;
      }
    }
    .search {
      display: none;
      @media screen and (max-width: 700px) {
        display: block;
      }
    }
  }

  .sidebar {
    display: none;
    @media screen and (max-width: 1000px) {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      position: absolute;
      top: 136px;
      left: 0px;
      width: 60%;
      height: 75vh;
      background-color: white;
      overflow-y: auto;
      // display: none;
      margin-right: 0px;
      padding: 30px 10px 30px 10px;
      animation: slideIn 0.5s ease-in-out forwards;
      z-index: 100;
      gap: 10px;
      h3 {
        color: #000;
        font-size: 1rem;
        font-weight: 700;
      }
      hr {
        width: 100%;
      }

      @keyframes slideIn {
        from {
          transform: translateX(-100%);
        }

        to {
          transform: translateX(0%);
        }
      }
      hr {
        height: 2px;
        background-color: #000;
        border-radius: 10px;
        border: none;
      }
      .navigate {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        gap: 0px;
        width: 100%;
        h3 {
          color: #757575;
          font-size: 0.875rem;
          font-weight: 400;
          margin: 0px;
          padding: 0px;
        }
        hr {
          height: 2px;
          background-color: #757575;
          border-radius: 10px;
          border: none;
          width: 100%;
          margin: 0px;
          padding: 0px;
        }
      }
      .side-categories {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        gap: 25px;
        width: 100%;
        .cat-header {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100%;
        }
        .cats {
          display: flex;
          align-items: flex-start;
          justify-content: center;
          flex-direction: column;
          gap: 15px;
          width: 100%;
          .each-cat {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 30px;
            input {
              outline: none;
              height: 20px;
              width: 20px;
              border: 2px solid #000;
            }
          }
        }
      }
    }
  }
  .null {
    display: none;
  }
}
