* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.create {
  display: flex;
  align-items: flex-start;
  justify-self: flex-start;
  flex-direction: column;
  gap: 30px;
  padding: 10px 20px;
  width: 100%;
  .create-contents {
    display: flex;
    align-items: flex-start;
    justify-self: flex-start;
    flex-direction: column;
    width: 100%;
    form {
      display: flex;
      align-items: flex-start;
      justify-self: flex-start;
      flex-direction: column;
      gap: 20px;
      width: 50%;
      @media screen and (max-width: 800px) {
        width: 100%;
      }
      .upload {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #71717a;
        border-radius: 10px;
        flex-direction: column;
        gap: 20px;
        padding: 10px;
        overflow: hidden;
        width: 32rem;
        @media screen and (max-width: 800px) {
          width: 100%;
        }
        .upload-top {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100%;
          h2 {
            color: var(--gray-900, #101828);
            font-size: 1rem;
            font-weight: 600;
            margin: 0px;
            padding: 0px;
          }
          .buttons {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            button {
              border: none;
              border-radius: 5px;
              padding: 10px 15px;
              width: fit-content;
            }
            .edit {
              border: 1px solid #71717a;
            }
            .upload-btn {
              background: var(--sec-01, #af5e41);
              color: white;
              display: flex;
              align-items: center;
              justify-content: center;
              gap: 10px;
            }
          }
        }
        .upload-box {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          flex-direction: column;
          gap: 10px;
          p {
            margin: 0px;
            padding: 0px;
            color: var(--gray-900, #101828);
            text-align: center;
            font-size: 1rem;
            font-weight: 500;
          }
          span {
            color: var(--gray-500, #667085);
            text-align: center;
            font-weight: 400;
            font-size: 0.8rem;
          }
          .btns {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            gap: 10px;
            button {
              padding: 10px 25px;
              border: none;
              border-radius: 10px;
            }
            .cancel {
              border: 1px solid #71717a;
              padding: 10px 25px;
              border-radius: 10px;
            }
            .confirm {
              background: var(--sec-01, #af5e41);
              color: white;
            }
          }
        }
      }
    }
  }
}
