* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.create-2 {
  display: flex;
  align-items: flex-start;
  justify-self: flex-start;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  .dets {
    display: flex;
    align-items: flex-start;
    justify-self: flex-start;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    h4 {
      margin: 10px 0px;
    }
    .lesson-container {
      border-radius: 20px;
      border: 2px solid #af5e41;
      padding: 20px;
      display: flex;
      align-items: flex-start;
      justify-self: flex-start;
      flex-direction: column;
      gap: 10px;
      width: 100%;
      @media screen and (max-width: 768px) {
        padding: 10px;
      }
      .lesson-details {
        display: flex;
        align-items: flex-start;
        justify-self: flex-start;
        flex-direction: column;
        gap: 5px;
        width: 100%;
        label {
          margin-top: 5px;
        }
        input {
          width: 70%;
          outline: none;
          padding-inline: 10px;
          height: 35px;
          border-radius: 5px;
          border: 1px solid gray;
          @media screen and (max-width: 768px) {
            width: 100%;
          }
        }
        textarea {
          padding: 5px;
          border-radius: 10px;
          border: 1px solid gray;
          width: 70%;
          @media screen and (max-width: 768px) {
            width: 100%;
          }
        }
      }
      .links-section {
        display: flex;
        align-items: flex-start;
        justify-self: center;
        flex-direction: column;
        gap: 10px;
        width: 100%;
        margin-top: 10px;
        .link-labels {
          display: flex;
          align-items: center;
          justify-self: flex-start;
          gap: 5px;
          width: 100%;
          label {
            margin-top: 5px;
          }
          input {
            width: 70%;
            outline: none;
            padding-inline: 10px;
            height: 35px;
            border-radius: 5px;
            border: 1px solid gray;
          }
        }
      }
      .remove-lesson {
        display: flex;
        align-items: center;
        justify-self: flex-start;
        gap: 5px;
        margin-top: 10px;
        p {
          color: red;
        }
      }
    }
  }
  button {
    width: 150px;
    text-align: center;
    height: 40px;
    border-radius: 10px;
    background-color: #af5e41;
    color: #fff;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
