* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.loading-page {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Plus Jakarta Sans", sans-serif;
  .home-hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 400px;
    padding: 20px 0px 0px 0px;
    background-image: url("../../assets/Images/homebgc.svg");
    background-color: #000000;
    @media screen and (max-width: 500px) {
      height: 100%;
    }
    .hero-text {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 40px;
      width: 80%;
      padding-bottom: 30px;
      height: 100%;
      @media screen and (max-width: 500px) {
        width: 90%;
        padding: 30px 0px 30px 0px;
      }
    }
    .top-text {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 27px;
      h1 {
        font-weight: 600;
        font-size: 40px;
        text-align: center;
        color: #ffffff;
        @media screen and (max-width: 500px) {
          font-size: 22px;
        }
      }
      p {
        font-weight: 400;
        // font-size: 18px;
        text-align: center;
        color: #a1a1aa;
        @media screen and (max-width: 500px) {
          // font-size: 16px;
        }
      }
    }
    .input-search {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      width: 100%;
      color: #fff;
      flex-direction: column;
      gap: 10px;
      .search {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px 4px 0px 14px;
        gap: 10px;
        width: 400px;
        color: #fff;
        height: 50px;
        background: transparent;
        border: 1px solid var(--sec-01, #af5e41);
        border-radius: 8px;
        @media screen and (max-width: 500px) {
          width: 100%;
        }
        input {
          outline: none;
          border: none;
          width: 100%;
          height: 30px;
          background-position: center;
          background-color: transparent;
          font-weight: 400;
          // font-size: 16px;
          color: #fff;
        }
      }
      .search-1 {
        width: 79px;
        height: 35px;
        background: #af5e41;
        border: 1px solid #af5e41;
        border-radius: 8px;
        color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 500;
        // font-size: 14px;
        @media screen and (max-width: 500px) {
          display: none;
        }
      }
      .search-2 {
        width: 100%;
        display: none;
        button {
          height: 40px;
          background: #af5e41;
          border: 1px solid #af5e41;
          border-radius: 8px;
          color: #ffffff;
          display: flex;
          justify-content: center;
          align-items: center;
          font-weight: 500;
          width: 100%;
        }
        @media screen and (max-width: 500px) {
          display: block;
        }
      }
    }
    .hero-bottom-colors {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      .brown {
        height: 12px;
        background-color: #5d5b76;
        width: 568px;
      }
      .blue {
        width: 100%;
        height: 12px;
        background-color: #af5e41;
      }
    }
  }
  body {
    padding: 0px 56px 0px 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    @media screen and (max-width: 600px) {
      padding: 0px 20px;
    }
    .body-con {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;
      gap: 30px;
      width: 100%;
      .directory {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
        width: 100%;
        padding: 10px 0px 10px 0px;
      }
      .body-main {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        gap: 100px;
        width: 100%;
        .blog-section {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: flex-start;
          flex-direction: column;
          gap: 20px;
          h2 {
            color: black;
            // font-size: 30px;
          }
          .blog-main {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            width: 100%;
            gap: 60px;
            .blog-side {
              display: flex;
              align-items: center;
              gap: 30px;
              justify-content: center;
              flex-wrap: wrap;
              .blog-side-con {
                flex: 0 0 450px;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                @media screen and (max-width: 500px) {
                  flex: 0 0 300px;
                }
                img {
                  width: 100%;
                }
                .content {
                  display: flex;
                  align-items: flex-start;
                  justify-content: center;
                  flex-direction: column;
                  width: 100%;

                  .top-content {
                    p {
                      font-weight: 600;
                      // font-size: 14px;
                      color: #6941c6;
                    }
                    .read-more {
                      display: flex;
                      justify-content: space-between;
                      align-items: center;
                      h3 {
                        font-weight: 600;
                        // font-size: 24px;
                        color: #101828;
                      }
                    }
                    .desc {
                      p {
                        font-weight: 400;
                        // font-size: 16px;
                        color: #667085;
                      }
                    }
                  }
                  .tags {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 15px;
                    margin-top: 25px;
                    .red {
                      padding: 7px;
                      border-radius: 5px;
                      background-color: #f9f5ff;
                      color: #6941c6;
                    }
                    .blue {
                      padding: 7px;
                      border-radius: 5px;
                      background-color: #eef4ff;
                      color: #3538cd;
                    }
                    .indigo {
                      padding: 7px;
                      border-radius: 5px;
                      background-color: #fdf2fa;
                      color: #c11574;
                    }
                  }
                }
              }
            }
          }
        }
        .top-rated {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          flex-direction: column;
          gap: 20px;
          .top-rated-con {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: 100%;
            gap: 20px;
            h3 {
              font-weight: 700;
              // font-size: 26px;
              color: #000000;
            }
            .courses {
              margin-top: 25px;
              display: flex;
              align-items: flex-start;
              justify-content: center;
              gap: 30px;
              padding: 0px 0px 20px 0px;
              width: 100%;
              flex-wrap: wrap;
              @media screen and (max-width: 768px) {
                justify-content: flex-start;
                flex-wrap: nowrap;
                overflow: auto;
              }
              .course-con {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                gap: 30px;
                flex: 0 0 300px;
                @media screen and (max-width: 768px) {
                  flex: 0 0 260px;
                }
                img {
                  width: 100%;
                  border-radius: 8px;
                  height: 200px;
                  border: 1px solid #af5e41;
                }
                .content {
                  display: flex;
                  align-items: flex-start;
                  justify-content: center;
                  flex-direction: column;
                  gap: 3px;
                  width: 100%;

                  .admin {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    gap: 15px;
                    width: 100%;
                    .admin-title {
                      display: flex;
                      justify-content: flex-start;
                      align-items: center;
                      gap: 8px;
                      img {
                        height: 32px;
                        width: 32px;
                      }
                      p {
                        font-weight: 600;
                        // font-size: 14px;
                        color: #000000;
                      }
                    }
                    .check {
                      display: flex;
                      align-items: center;
                      justify-content: center;
                      width: 15px;
                      height: 15px;
                      border-radius: 50%;
                      background-color: #fae26a;
                    }
                  }
                  .course-name {
                    display: flex;
                    align-items: flex-start;
                    justify-content: space-between;
                    width: 100%;
                    h2 {
                      font-weight: 700;
                      // font-size: 17px;
                      color: #000000;
                      width: 230px;
                    }
                  }
                  .desc {
                    span {
                      font-weight: 400;
                      // font-size: 12px;
                      color: #667085;
                    }
                  }
                  .rating {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 20px;
                    .star {
                      display: flex;
                      align-items: center;
                      justify-content: center;
                      gap: 7px;
                    }
                    .rated {
                      color: #5b6871;
                    }
                  }
                  .price-add {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;
                    .price {
                      display: flex;
                      align-items: center;
                      justify-content: flex-start;
                      gap: 10px;
                      p {
                        font-weight: 700;
                        // font-size: 15px;
                        color: #000000;
                        padding-bottom: 0px;
                        margin-bottom: 0px;
                      }
                      .slice {
                        font-weight: 400;
                        // font-size: 13px;
                        text-decoration-line: line-through;
                        color: #545454;
                      }
                    }
                    button {
                      width: 96.02px;
                      height: 30px;
                      background-color: #ffffff;
                      border: 1px solid #cbcbcb;
                      border-radius: 8px;
                      color: #545454;
                      box-shadow: none;
                      // font-size: 13px;
                    }
                  }
                }
              }
            }
          }
          button {
            width: 195.38px;
            height: 46px;
            background-color: #fff;
            border: 1px solid #af5e41;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
            border-radius: 4px;
            font-weight: 600;
            // font-size: 15px;
            color: #af5e41;
          }
        }
        .all-courses {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          gap: 40px;
          padding-bottom: 30px;
          h2 {
            font-weight: 700;
            text-align: center;
            color: #000000;
          }
          h3 {
            font-weight: 700;
            color: #000000;
          }
          .courses {
            margin-top: 25px;
            display: flex;
            align-items: flex-start;
            justify-content: center;
            gap: 40px;
            padding: 0px 0px 20px 0px;
            width: 100%;
            flex-wrap: wrap;
            @media screen and (max-width: 768px) {
              justify-content: center;
            }
            .course-con {
              display: flex;
              align-items: center;
              justify-content: center;
              flex-direction: column;
              gap: 30px;
              flex: 0 0 300px;
              @media screen and (max-width: 768px) {
                flex: 0 0 260px;
              }
              .course-img {
                width: 100%;
                border-radius: 8px;
                height: 200px;
                border: 1px solid #af5e41;
              }
              .content {
                display: flex;
                align-items: flex-start;
                justify-content: center;
                flex-direction: column;
                gap: 3px;
                width: 100%;

                .admin {
                  display: flex;
                  justify-content: flex-start;
                  align-items: center;
                  gap: 15px;
                  width: 100%;
                  .admin-title {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    gap: 8px;
                    img {
                      height: 32px;
                      width: 32px;
                    }
                    p {
                      font-weight: 600;
                      // font-size: 14px;
                      color: #000000;
                    }
                  }
                  .check {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 15px;
                    height: 15px;
                    border-radius: 50%;
                    background-color: #fae26a;
                  }
                }
                .course-name {
                  display: flex;
                  align-items: flex-start;
                  justify-content: space-between;
                  width: 100%;
                  h2 {
                    font-weight: 700;
                    // font-size: 17px;
                    color: #000000;
                    width: 230px;
                  }
                }
                .desc {
                  span {
                    font-weight: 400;
                    // font-size: 12px;
                    color: #667085;
                  }
                }
                .rating {
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  gap: 20px;
                  .star {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 7px;
                  }
                  .rated {
                    color: #5b6871;
                  }
                }
                .price-add {
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                  width: 100%;
                  .price {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    gap: 10px;
                    p {
                      font-weight: 700;
                      // font-size: 15px;
                      color: #000000;
                      padding-bottom: 0px;
                      margin-bottom: 0px;
                    }
                    .slice {
                      font-weight: 400;
                      // font-size: 13px;
                      text-decoration-line: line-through;
                      color: #545454;
                    }
                  }
                  button {
                    width: 96.02px;
                    height: 30px;
                    background-color: #ffffff;
                    border: 1px solid #cbcbcb;
                    border-radius: 8px;
                    color: #545454;
                    box-shadow: none;
                    // font-size: 13px;
                  }
                }
              }
            }
          }
          .pagination {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;
            .pages {
              display: flex;
              align-items: center;
              justify-content: center;
              list-style: none;
              gap: 10px;
              .prev {
                display: flex;
                align-items: center;
                cursor: pointer;
                justify-content: center;
                gap: 10px;
                padding-right: 15px;
                p {
                  padding-bottom: 0px;
                  margin-bottom: 0px;
                }
                .disabled {
                  pointer-events: none;
                  opacity: 0.5;
                  cursor: not-allowed;
                }
              }
              .next {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 10px;
                margin-left: 10px;
                cursor: pointer;
                p {
                  padding-bottom: 0px;
                  margin-bottom: 0px;
                }
                .disabled {
                  pointer-events: none;
                  opacity: 0.5;
                  cursor: not-allowed;
                }
              }
              .page-link {
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
              }
            }
            .active {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 35px;
              height: 35px;
              background: rgba(175, 94, 65, 0.3);
              border-radius: 8px;
              color: #af5e41;
              cursor: pointer;
            }
          }
          .mobile-pagination {
            display: block;
            display: flex;
            gap: 20px;
            align-items: center;
            margin-top: 20px;
            .disabled {
              pointer-events: none;
              opacity: 0.5;
              cursor: not-allowed;
              padding: 10px 10px;
              background-color: #af5e41;
              border-radius: 50%;
            }
            .enabled {
              padding: 10px 10px;
              background-color: #af5e41;
              border-radius: 50%;
              // color: white;
            }
          }
        }
      }
    }
  }
}

@import "../../font.scss";
