* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.skeleton {
  display: flex;
  gap: 20px;
  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
}
.skeleton-2 {
  display: flex;
  gap: 20px;
  flex-direction: column;
}
