* {
  margin: 0px;
  padding: 0px;
  box-sizing: 0px;
}

.bread-crumb {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
  span {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    .span {
      font-size: 18px;
      color: black;
    }
    .active {
      color: #ffb800;
    }
  }
}
