* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.tc {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  @media screen and (max-width: 768px) {
    padding: 30px 10px;
  }
  gap: 30px;
  .tc-body {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    .term {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      gap: 5px;
      ul {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        gap: 5px;
        li {
          font-size: 15px !important;
          list-style: none;
          span {
            font-size: 15px !important;
            color: #af5e41;
          }
        }
      }
      p {
        font-size: 15px !important;
      }
    }
  }
}
