* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.loading {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  img {
    height: 0px;
  }
  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
}
.landing {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Plus Jakarta Sans", sans-serif;
  .landing-con {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 60px;
    .hero {
      width: 100%;
      .hero-con {
        background-image: url("../../assets/Images/header-section.svg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        height: 470px;
        display: flex;
        justify-content: flex-start;
        padding: 40px 0px 0px 40px;
        align-items: flex-start;
        flex-direction: column;
        gap: 20px;
        @media screen and (max-width: 768px) {
          align-items: center;
          height: max-content;
          padding: 40px 0px 40px 0px;
          background-image: url("../../assets//Images/header-sectionmb.svg");
          height: 700px;
          background-position-y: top;
          justify-content: flex-end;
        }
        h1 {
          font-weight: 800;
          font-size: 60px;
          color: #fff;
          width: 710px;
          @media screen and (max-width: 768px) {
            font-size: 40px;
            text-align: center;
            width: 100%;
          }
        }
        p {
          // font-size: 14px;
          color: #fff;
          font-weight: 400;
          width: 45%;
          line-height: 28px;
          @media screen and (max-width: 768px) {
            width: 70%;
            text-align: center;
          }
          @media screen and (max-width: 500px) {
            width: 85%;
          }
        }
        .btn-text {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 70px;
          @media screen and (max-width: 768px) {
            flex-direction: column;
            gap: 40px;
          }
          button {
            border-radius: 4px;
            background: #af5e41;
            border: none;
            display: flex;
            width: 290px;
            height: 60px;
            padding: 6px 12px;
            justify-content: center;
            align-items: center;
            outline: none;
            color: #fff;
            @media screen and (max-width: 400px) {
              width: 100%;
              width: 250px;
            }
          }
          .trust {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            color: #fff;
            gap: 10px;
            // font-size: 14px;
            @media screen and (max-width: 768px) {
              align-items: center;
            }
            p {
              width: 100%;
              margin-bottom: 0px;
              padding-bottom: 0px;
            }
            .star {
              display: flex;
              justify-content: center;
              align-items: center;
              gap: 35px;
              .stars {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: 3px;
                width: max-content;
                @media screen and (max-width: 768px) {
                  align-items: center;
                }
              }
              p {
                width: 100%;
                span {
                  color: #545454;
                  width: 100%;
                }
              }
            }
          }
        }
      }
    }
    body {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      main {
        padding: 0px 65px 60px 65px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 80px;
        @media screen and (max-width: 768px) {
          padding: 0px 25px 60px 25px;
        }
        .top-rated {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          flex-direction: column;
          gap: 10px;
          .top-rated-con {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: 100%;
            gap: 10px;
            h3 {
              font-weight: 700;
              // font-size: 26px;
              color: #000000;
            }
            .courses {
              margin-top: 25px;
              display: flex;
              align-items: center;
              justify-content: center;
              gap: 40px;
              padding: 0px 0px 20px 0px;
              width: 100%;
              flex-wrap: wrap;
              @media screen and (max-width: 768px) {
                justify-content: center;
              }
              .course-con {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                gap: 30px;
                flex: 0 0 320px;
                @media screen and (max-width: 768px) {
                  flex: 0 0 280px;
                }
                .course-img {
                  width: 100%;
                  border-radius: 8px;
                  height: 200px;
                  border: 1px solid #af5e41;
                }
                .content {
                  display: flex;
                  align-items: flex-start;
                  justify-content: center;
                  flex-direction: column;
                  gap: 10px;
                  .admin {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    gap: 15px;
                    width: 100%;
                    .admin-title {
                      display: flex;
                      justify-content: flex-start;
                      align-items: center;
                      gap: 8px;
                      img {
                        height: 32px;
                        width: 32px;
                      }
                      p {
                        font-weight: 600;
                        // font-size: 14px;
                        color: #000000;
                      }
                    }
                    .check {
                      display: flex;
                      align-items: center;
                      justify-content: center;
                      width: 15px;
                      height: 15px;
                      border-radius: 50%;
                      background-color: #fae26a;
                    }
                  }
                  .course-name {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;
                    h2 {
                      font-weight: 700;
                      // font-size: 17px;
                      color: #000000;
                      width: 230px;
                    }
                  }
                  .desc {
                    span {
                      font-weight: 400;
                      // font-size: 12px;
                      color: #667085;
                    }
                  }
                  .rating {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 20px;
                    .star {
                      display: flex;
                      align-items: center;
                      justify-content: center;
                      gap: 7px;
                    }
                    .rated {
                      color: #5b6871;
                    }
                  }
                  .price-add {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;
                    .price {
                      display: flex;
                      align-items: center;
                      justify-content: flex-start;
                      gap: 10px;
                      p {
                        font-weight: 700;
                        // font-size: 15px;
                        color: #000000;
                        padding-bottom: 0px;
                        margin-bottom: 0px;
                      }
                      .slice {
                        font-weight: 400;
                        // font-size: 13px;
                        text-decoration-line: line-through;
                        color: #545454;
                      }
                    }
                    button {
                      width: 96.02px;
                      height: 30px;
                      background-color: #ffffff;
                      border: 1px solid #cbcbcb;
                      border-radius: 8px;
                      color: #545454;
                      box-shadow: none;
                      // font-size: 13px;
                    }
                  }
                }
              }
            }
          }
          button {
            width: 195.38px;
            height: 46px;
            background-color: #fff;
            border: 1px solid #af5e41;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
            border-radius: 4px;
            font-weight: 600;
            // font-size: 15px;
            color: #af5e41;
          }
        }
        .based-on-picks {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          flex-direction: column;
          gap: 30px;
          margin-top: 20px;
          .top-rated-con {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: 100%;
            gap: 25px;
            h3 {
              font-weight: 700;
              // font-size: 26px;
              color: #000000;
            }
            .courses {
              margin-top: 25px;
              display: flex;
              align-items: center;
              justify-content: center;
              gap: 40px;
              padding: 0px 0px 20px 0px;
              width: 100%;
              flex-wrap: wrap;
              @media screen and (max-width: 768px) {
                justify-content: center;
              }
              .course-con {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                gap: 30px;
                flex: 0 0 320px;
                @media screen and (max-width: 768px) {
                  flex: 0 0 280px;
                }
                .course-img {
                  width: 100%;
                  border-radius: 8px;
                  height: 200px;
                  border: 1px solid #af5e41;
                }
                .content {
                  display: flex;
                  align-items: flex-start;
                  justify-content: center;
                  flex-direction: column;
                  gap: 10px;
                  .admin {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    gap: 15px;
                    width: 100%;
                    .admin-title {
                      display: flex;
                      justify-content: flex-start;
                      align-items: center;
                      gap: 8px;
                      img {
                        height: 32px;
                        width: 32px;
                      }
                      p {
                        font-weight: 600;
                        // font-size: 14px;
                        color: #000000;
                      }
                    }
                    .check {
                      display: flex;
                      align-items: center;
                      justify-content: center;
                      width: 15px;
                      height: 15px;
                      border-radius: 50%;
                      background-color: #fae26a;
                    }
                  }
                  .course-name {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;
                    h2 {
                      font-weight: 700;
                      // font-size: 17px;
                      color: #000000;
                      width: 230px;
                    }
                  }
                  .desc {
                    span {
                      font-weight: 400;
                      // font-size: 12px;
                      color: #667085;
                    }
                  }
                  .rating {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 20px;
                    .star {
                      display: flex;
                      align-items: center;
                      justify-content: center;
                      gap: 7px;
                    }
                    .rated {
                      color: #5b6871;
                    }
                  }
                  .price-add {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;
                    .price {
                      display: flex;
                      align-items: center;
                      justify-content: flex-start;
                      gap: 10px;
                      p {
                        font-weight: 700;
                        // font-size: 15px;
                        color: #000000;
                        padding-bottom: 0px;
                        margin-bottom: 0px;
                      }
                      .slice {
                        font-weight: 400;
                        // font-size: 13px;
                        text-decoration-line: line-through;
                        color: #545454;
                      }
                    }
                    button {
                      width: 96.02px;
                      height: 30px;
                      background-color: #ffffff;
                      border: 1px solid #cbcbcb;
                      border-radius: 8px;
                      color: #545454;
                      box-shadow: none;
                      // font-size: 13px;
                    }
                  }
                }
              }
            }
          }
          button {
            width: 195.38px;
            height: 46px;
            background-color: #fff;
            border: 1px solid #af5e41;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
            border-radius: 4px;
            font-weight: 600;
            // font-size: 15px;
            color: #af5e41;
          }
        }
        .what-course {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          gap: 50px;
          p {
            color: #000;
            text-align: center;
            // font-size: 26px;
            font-weight: 700;
            padding-bottom: 0px;
            margin-bottom: 0px;
          }
          .options {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            gap: 20px;
            p {
              display: flex;
              align-items: center;
              justify-content: center;
              border-radius: 54px;
              background-color: #1f1f1f;
              color: #fff;
              text-align: center;
              // font-size: 16.143px;
              flex: 0 0 140px;
              height: 40px;
              @media screen and (max-width: 768px) {
                // font-size: 14px;
                flex: 0 0 120px;
              }
            }
          }
        }
        .new {
          padding-top: 30px;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          gap: 20px;
          padding-bottom: 30px;
          h3 {
            font-weight: 700;
            // font-size: 26px;
            color: black;
            text-decoration: none;
          }
          .courses {
            margin-top: 25px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 40px;
            padding: 0px 0px 20px 0px;
            width: 100%;
            flex-wrap: wrap;
            @media screen and (max-width: 768px) {
              justify-content: center;
            }
            .course-con {
              display: flex;
              align-items: center;
              justify-content: center;
              flex-direction: column;
              gap: 30px;
              flex: 0 0 320px;
              @media screen and (max-width: 768px) {
                flex: 0 0 280px;
              }
              .course-img {
                width: 100%;
                border-radius: 8px;
                height: 200px;
                border: 1px solid #af5e41;
              }
              .content {
                display: flex;
                align-items: flex-start;
                justify-content: center;
                flex-direction: column;
                gap: 10px;
                .admin {
                  display: flex;
                  justify-content: flex-start;
                  align-items: center;
                  gap: 15px;
                  width: 100%;
                  .admin-title {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    gap: 8px;
                    img {
                      height: 32px;
                      width: 32px;
                    }
                    p {
                      font-weight: 600;
                      // font-size: 14px;
                      color: #000000;
                    }
                  }
                  .check {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 15px;
                    height: 15px;
                    border-radius: 50%;
                    background-color: #fae26a;
                  }
                }
                .course-name {
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                  width: 100%;
                  h2 {
                    font-weight: 700;
                    // font-size: 17px;
                    color: #000000;
                    width: 230px;
                  }
                }
                .desc {
                  span {
                    font-weight: 400;
                    // font-size: 12px;
                    color: #667085;
                  }
                }
                .rating {
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  gap: 20px;
                  .star {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 7px;
                  }
                  .rated {
                    color: #5b6871;
                  }
                }
                .price-add {
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                  width: 100%;
                  .price {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    gap: 10px;
                    p {
                      font-weight: 700;
                      // font-size: 15px;
                      color: #000000;
                      padding-bottom: 0px;
                      margin-bottom: 0px;
                    }
                    .slice {
                      font-weight: 400;
                      // font-size: 13px;
                      text-decoration-line: line-through;
                      color: #545454;
                    }
                  }
                  button {
                    width: 96.02px;
                    height: 30px;
                    background-color: #ffffff;
                    border: 1px solid #cbcbcb;
                    border-radius: 8px;
                    color: #545454;
                    box-shadow: none;
                    // font-size: 13px;
                  }
                }
              }
            }
          }
          button {
            width: 195.38px;
            height: 46px;
            background-color: #fff;
            border: 1px solid #af5e41;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
            border-radius: 4px;
            font-weight: 600;
            // font-size: 15px;
            color: #af5e41;
          }
        }
        .testimonial {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          gap: 30px;
          width: 100%;
          p {
            color: #cd760f;
            text-align: center;
            // font-size: 1rem;
            font-weight: 600;
            letter-spacing: -0.0125rem;
            margin-bottom: 0px;
            padding-bottom: 0px;
          }
          h3 {
            color: var(--base-02, #090914);
            text-align: center;
            font-weight: 600;
          }
          .testimony-main {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 70px;
            @media screen and (max-width: 1000px) {
              flex-direction: column;
              align-items: flex-start;
            }
          }
          .testimony-con {
            display: flex;
            gap: 25px;
            align-items: center;
            justify-content: center;
            width: 50%;
            @media screen and (max-width: 1000px) {
              width: 100%;
            }
            .testy {
              @media screen and (max-width: 768px) {
                height: 100px;
                width: 100px;
                border-radius: 50%;
              }
            }
            .rating-text {
              display: flex;
              align-items: flex-start;
              justify-content: center;
              gap: 35px;
              flex-direction: column;
              @media screen and (max-width: 500px) {
                gap: 15px;
              }
              .sta {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                gap: 5px;
              }
              p {
                color: var(--base-02, #090914);
                // font-size: 1.125rem;
                font-weight: 500;
                text-align: left;
                @media screen and (max-width: 500px) {
                  // font-size: 12px;
                }
              }
              span {
                color: var(--base-02, #090914);
                // font-size: 1rem;
                font-weight: 600;
                letter-spacing: -0.0125rem;
              }
            }
          }
        }
        .faq {
          display: flex;
          align-items: flex-start;
          justify-content: center;
          flex-direction: column;
          gap: 50px;
          width: 100%;
          padding-top: 70px;
          @media screen and (max-width: 600px) {
            align-items: center;
          }
          .faq-con {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            gap: 50px;
            width: 100%;
            .faq-img {
              width: 500px;
              @media screen and (max-width: 1150px) {
                width: 400px;
              }
              @media screen and (max-width: 950px) {
                display: none;
              }
            }
            .faq-questions {
              display: flex;
              align-items: flex-start;
              justify-content: center;
              flex-direction: column;
              gap: 45px;
              width: 500px;
              @media screen and (max-width: 600px) {
                width: 100%;
              }
              .top-text {
                display: flex;
                align-items: flex-start;
                justify-content: center;
                flex-direction: column;
                gap: 10px;
                @media screen and (max-width: 600px) {
                  width: 100%;
                }
                h3 {
                  color: #1e1d2f;
                  // font-size: 1.875rem;
                  font-weight: 600;
                }
                p {
                  padding-bottom: 0px;
                  margin-bottom: 0px;
                  color: var(--gray-500, #667085);
                  // font-size: 1.125rem;
                  display: block;
                }
              }
              .question-con {
                display: flex;
                align-items: flex-start;
                justify-content: center;
                flex-direction: column;
                gap: 10px;
                width: 100%;
                .question {
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                  width: 100%;
                  img {
                    cursor: pointer;
                  }
                  p {
                    padding-bottom: 0px;
                    margin-bottom: 0px;
                    color: var(--gray-900, #101828);
                    // font-size: 1.125rem;
                    font-weight: 500;
                    display: block;
                  }
                }
                .answer {
                  span {
                    color: var(--gray-500, #667085);
                    // font-size: 1rem;
                  }
                }
              }
            }
          }
        }
        .other-faq {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 20px;
          width: 100%;
          flex-direction: column;
          .group-image {
            .think {
              position: relative;
              width: 3rem;
              height: 3rem;
              border-radius: 50%;
            }
            .bulb {
              position: relative;
              width: 3.5rem;
              height: 3.5rem;
              border-radius: 50%;
              z-index: 10;
              margin-left: -10px;
            }
            .statue {
              position: relative;
              width: 3rem;
              height: 3rem;
              border-radius: 50%;
              margin-left: -10px;
            }
          }
          .text {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            flex-direction: column;
            p {
              padding-bottom: 0px;
              margin-bottom: 0px;
              color: #1e1d2f;
              text-align: center;
              font-size: 1.25rem;
              font-weight: 500;
            }
            span {
              color: var(--gray-500, #667085);
              text-align: center;
              font-size: 1rem;
            }
          }
          button {
            border-radius: 8px;
            border: none;
            background: #af5e41;
            color: #fff;
            padding: 0.625rem 1.125rem;
            outline: none;
          }
        }
      }
    }
  }
}

@import "../../font.scss";
