* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans", sans-serif;
  text-decoration: none;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
}

select {
  outline: none;
}

input {
  outline: none;
  padding: 0px 0px 0px 5px;
}

textarea {
  outline: none;
}
