// Mixin definition
@mixin responsive-font-size(
  $min-font-size,
  $max-font-size,
  $min-screen-width,
  $max-screen-width
) {
  $font-size-range: $max-font-size - $min-font-size;
  $screen-width-range: $max-screen-width - $min-screen-width;

  font-size: calc(
    #{$min-font-size}px + #{$font-size-range} * ((
            100vw - #{$min-screen-width}px
          ) / #{$screen-width-range})
  );
}

// Applying the mixin to various tags
p {
  @include responsive-font-size(16, 20, 320, 1200 !important);
}

ul {
  @include responsive-font-size(12, 16, 320, 1200 !important);
}

li {
  @include responsive-font-size(12, 16, 320, 1200 !important);
}

h1 {
  @include responsive-font-size(24, 36, 320, 1200 !important);
}

h2 {
  @include responsive-font-size(18, 30, 320, 1200 !important);
}

span {
  @include responsive-font-size(12, 16, 320, 1200 !important);
}

main {
  @include responsive-font-size(18, 24, 320, 1200 !important);
}

header {
  @include responsive-font-size(18, 26, 320, 1200 !important);
}

caption {
  @include responsive-font-size(14, 18, 320, 1200 !important);
}

/* Add more styles for other tags as needed */
